@import url("https://fonts.googleapis.com/css2?family=Gveret+Levin&display=swap");
@import "tailwindcss";

button {
  cursor: pointer;
}

.bezel-transition {
  transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

body,
.playlist-card {
  background-color: rgb(30, 41, 59);
  color: rgb(241, 245, 249);
  font-family: "Gveret Levin", cursive;
}